<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetas Gachaneitor</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'web/scss/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">GACHANEITOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Introducir receta<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recetas">Recetario</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="recetas">
        {% for receta in recetas %}

            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ receta.nombre }}</h5>
                        <h6 class="card-subtitle">Descripción</h6>
                        <p class="card-text">{{ receta.descripcion }}</p>
                        <h6 class="card-subtitle">Tiempo</h6>
                        <ul class="card-text">
                            <li class="card-text"><strong>Preparación: </strong>{{ receta.tmp_preparacion}} {{ receta.ud_tmp_preparacion }}.</li>
                            <li class="card-text"><strong>Total: </strong>{{ receta.tmp_preparacion}} {{ receta.ud_tmp_preparacion }}.</li>
                        </ul>
                        <h6 class="card-subtitle">Ingredientes</h6>
                        <ul class="card-text">
                            {% for ingrediente in receta.ingrediente_set.all %}
                                <li class="card-text"><strong>{{ ingrediente.nombre }}: </strong>{{ ingrediente.cantidad }} {{ ingrediente.ud_cantidad }}.</li>
                            {% endfor %}
                        </ul>
                        <h6 class="card-subtitle">Pasos</h6>
                        <ul class="card-text">
                            {% for paso in receta.paso_set.all %}
                                {% if paso.temperatura %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }},
                                    a una temperatura de {{ paso.temperatura }} {{ paso.ud_temperatura }}.</li>
                                {% elif paso.velocidad %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }},
                                    a velocidad {{ paso.velocidad }}.</li>
                                {% else %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }}.</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <section id="pagination">
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; Primero</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                            Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number }}">
                        {{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left bg-primary">

            <!-- Grid row -->
            <div class="row">
                <div class="col-md-7 mt-md-0 mt-3">
                    <p> </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-light">Información</h5>
                    <p class="text-light">Esta herramienta ha sido realizada por Elena Hervás, Raúl Bernalte Sánchez,
                        Enrique Cepeda y Elena María Ruiz</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 bg-secondary text-light">© 2020 Copyright
            <!--a href="https://mdbootstrap.com/" class="text-warning"> MDBootstrap.com</a-->
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    {% load static %}
    <script src="{% static 'web/js/jquery-3.5.1.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
</body>
</html>