<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetario</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'web/scss/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'web/res/icono.png' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">GACHANEITOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="/howto">Como crear una receta </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Introducir receta </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recetas">Recetario</a>
                </li>
            </ul>
        </div>
    </nav>
    <br> 
    <section id="recetas">
        {% for receta in recetas %}

            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ receta.nombre }}</h4>
                        <h5 class="card-subtitle"> <i> Descripción </i> </h5>
                        <p class="card-text" style="padding-left: 20px">{{ receta.descripcion }}</p>
                        <h5 class="card-subtitle"> <i> Tiempo </i> </h5>
                        <ul class="card-text">
                            <li class="card-text"><strong>Preparación: </strong>{{ receta.tmp_preparacion}} {{ receta.ud_tmp_preparacion }}.</li>
                            <li class="card-text"><strong>Total: </strong>{{ receta.tmp_preparacion}} {{ receta.ud_tmp_preparacion }}.</li>
                        </ul>
                        <h5 class="card-subtitle"> <i> Ingredientes </i> </h5>
                        <ul class="card-text">
                            {% for ingrediente in receta.ingrediente_set.all %}
                                <li class="card-text"><strong>{{ ingrediente.nombre }}: </strong>{{ ingrediente.cantidad }} {{ ingrediente.ud_cantidad }}.</li>
                            {% endfor %}
                        </ul>
                        <h5 class="card-subtitle"> <i> Pasos </i></h5>
                        <ol class="card-text">
                            {% for paso in receta.paso_set.all %}
                                {% if paso.temperatura %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }},
                                    a una temperatura de {{ paso.temperatura }} {{ paso.ud_temperatura }}.</li>
                                {% elif paso.velocidad %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }},
                                    a velocidad {{ paso.velocidad }}.</li>
                                {% else %}
                                <li class="card-text">{{ paso.verbo }} {{ paso.ingredientes }}.</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </section>

    <section id="pagination">
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; Primero</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                            Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number }}">
                        {{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <!-- Footer -->
    <footer class="mt-auto font-small pt-4">
        <div class="container-fluid text-center text-md-left bg-primary" >
            <div class="row">
                <div class="col-md-7 mt-md-0 mt-3">
                    <p> </p>
                </div>
                <div class="col-md-7 mt-md-0 mt-3">
                    <h5 class="text-uppercase text-light">Información</h5>
                    <p class="text-light">Herramienta desarrollada por Elena Hervás, Raúl Bernalte Sánchez,
                        Enrique Cepeda y Elena María Ruiz</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
            </div>
        </div>
    </footer>
    <!-- Footer -->

    {% load static %}
    <script src="{% static 'web/js/jquery-3.5.1.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
</body>
</html>