# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\raulb\Documents\Universidad\4º_Curso\PrimerCuatrimestre\Procesadores_de_Lenguajes\Práctica\Gachaneitor_Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
